<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>{{movie?.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="movie">
    <img [src]="imageBaseUrl + '/w400' + movie.poster_path" class="movie-img" alt="poster of the movie">

    <ion-card-header>
      <ion-card-title>{{movie.title}}</ion-card-title>
      <ion-card-subtitle>{{movie.tagline}}</ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let genre of movie.genres; let isLast = last">
          {{genre.name}} {{isLast ? '' : '-'}}
        </span>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="medium">{{movie.overview}}</ion-label>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>{{movie.revenue | currency:'USD'}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>

  <ion-button expand="full" (click)="openHomepage()">
    Open Homepage
  </ion-button>
</ion-footer>
